@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Grandstander&display=swap');


:root {
  background-color: #ffffff;
  color: #000000;
}

body {
  margin: 0;
  min-height: 100vh;
}

@theme {
  --font-grandstander: "Grandstander", system-ui, sans-serif;
}